@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);;
    color: white;
    font-family: 'Inter', sans-serif;
}

.header-hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.navigation-list {
    display: flex;
    gap: 60px;
    list-style: none;
    font-weight: 600;
}

.navigation-item a {
    text-decoration: none;
    color: white;
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navigation-item a:hover {
    transform: scale(1.08);
    color: #ff6b6b;
    border-bottom: 3px solid #ff6b6b;
}



.Names-h2 {
   font-size: 40px;
}


.navigation-item {
    font-size: 30px;
}

.main-container {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;

}



.about-container {
    line-height: 1.5;
}

.about-container p {
    font-size: 25px;
    font-weight: 600;
}

.span-color {
    color: #ff6b6b;
    font-size: 30px;
    font-weight: 850;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}

.span-color:hover{
    transform: scale(1.03);
    color: #ff6b6b;
    
    


}


.about-container h1{
    font-weight: 800;
    font-size: 60px;
    
}




.stack-container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 3px solid #ff6b6b;
}

.stack-container  img{
    height: 80px;
    width: 80px;
}


.project-section {
    padding-bottom: 180px;
    border-bottom: none;
}

.project-container-images {

    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid #ff6b6b;
    padding-bottom: 120px;
    
   


}


.project-1 {
    box-shadow: 0 0 60px rgba(42, 193, 175, 0.35);
    padding: 20px;

 
}

.project-2 {

    box-shadow: 0 0 60px rgba(42, 193, 175, 0.35);
    padding: 20px;

}



.project-3 {

    box-shadow: 0 0 60px rgba(42, 193, 175, 0.35);
    padding: 20px;

}






.project-container h1 {
    font-weight: 800;
    font-size: 60px;
}

.project-h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}






.footer-contact {   
    margin-bottom: 60px;
}



.footer-container {
    padding: 40px;
    line-height: 1.5;
}


.footer-container h1 {
    font-size: 60px;
}


.footer-container p {
    font-size: 40px;
}

.footer-container a {
    text-decoration: none;
    color: #F0E68C;
}

.footer-container a {
    text-decoration: none;
    color: white;
}




.footer-container-hover {
   display: flex;
   justify-content: space-around;
 


}
